<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuzelli.fluecuringmachine">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        >
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.EquipmentDetailActivity" />
        <activity android:name=".view.activity.ChangePassActivity" />
        <activity android:name=".view.activity.InfomationDetailActivity" />
        <activity android:name=".view.activity.ShowTempActivity" />
        <activity android:name=".view.activity.SetSystemActivity" />
        <activity android:name=".view.activity.SetSytemParametersActivity"></activity>
    </application>

</manifest>